/* ============== mui-topbar ============= */
.mui-topbar{position:relative;height:42px;color:#302f35;}
.mui-topbar-fixed-top,.mui-topbar-fixed-bottom{position:fixed;right:0;left:0;z-index:1000;-webkit-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.mui-topbar-fixed-top {top:0;}
.mui-topbar-fixed-bottom {bottom:0;margin-bottom:0;}
.mui-topbar-fixed-top-ht {padding-top:45px;}
.mui-topbar-fixed-bottom-ht {padding-bottom:45px;}

.aui-top{position:fixed;width:100%;z-index:100;background-color:#fff;z-index:1000;border-bottom:solid 1px #f2f2f2;}
.aui-relat{position:relative;top:45px;}

.mui-topbar h2{font-size:1.8rem;line-height:42px;font-weight:normal;}
.mui-topbar-prev a{position:absolute;top:50%;margin-top:-12px;z-index:1000;}
.mui-topbar-prev .pos-l{left:10px;padding:0 10px;}
.mui-topbar-prev .pos-r{right:10px;padding:0 10px;}
.mui-topbar-prev a.editor{font-size:1.6rem;width:auto;right:10px}
.mui-topbar-lnks .lnks{margin:10px 15px 0 0;color:#fff}

.m-abso{position:absolute;top:0px;left:0;width:100%;text-align:center;z-index:100;}
.m-abso h2{color:#fff;}
.m-fixed{position:fixed;top:0px;left:0;width:100%;text-align:center;z-index:100;}
.m-fixed h2{font-size:1.6rem;}

.mui-topbar .ioption{position:absolute;top:50%;margin-top:-10px;box-sizing:border-box;width: 54px; height: 20px; background:url(../../images/icon/ico_more_narmal.png) no-repeat;background-size: cover; background-position: 50% 50%;}
.mui-topbar .star-box{width: 10rem;height: 1.5rem;margin:auto;}


.g-price{font-family:arial}
.g-price span{margin-right:3px;color:#848484;}
.g-price strong{color:#fda710;font-weight:700;font-family:verdana,arial;}
.g-price-highlight span{color:#fda710;}

.grid-content{padding:10px 15px;}


.point-time {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 3px;
  left: 2%;
  background: #1c87bf;
  margin-left: -4px;
  border-radius: 50%;
}
.point-circle{
	background-color:inherit;
	background: url(../../images/icon/Ohox50xlhoHotAajow.png);
}
.text-red {
  color: #f6393f;
}

.text-blue {
  color: #1c87bf;
}

.text-green {
  color: #14cd74;
}

.text-yellow {
  color: #ffb902;
}

.text-purple {
  color: #d32d93;
}
.text-gray{
	color:#c2c2c4;
}
.point-red {
  background-color: #f6393f;
}
.point-cgray{
	background-color:#787883;
}
.point-blue {
  background-color: #1c87bf;
}

.point-green {
  background-color: #14cd74;
}

.point-yellow {
  background-color: #ffb902;
}

.point-purple {
  background-color: #d32d93;
}
.point-mid{
   width: 10px;
   height: 10px;	
   left:2.2%;
}
.timeline{margin:15px 0 0;font-size:1.4rem;}
.timeline article {
  position: relative;
}
.timeline .time{font-size:1.2rem;color:#cfcfd2;font-family:'Arial'}
.timeline article > h3 {
  width: 15%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  font-size: 1.4em;
  color: #1d1d1d;
  padding: 10px 0 20px;
}
.timeline article section {
  padding: 0 0 17px;
  position: relative;
}
.timeline article section:before {
  content: "";
  width: 1px;
  top: 17px;
  bottom: 0px;
  left: 2.2%;
  background: #c6c6c9;
  position: absolute;
}
.timeline article section:last-child:before {
  display: none;
}
.timeline article section time {
  width: 10%;
  display: block;
  position: absolute;
}
.timeline article section time > span {
  display: block;
  text-align: right;
}
.timeline article section aside {
  color: #3a3a38;
  margin-left: 5%;
  padding-bottom: 15px;
}
.timeline article section .brief {
  color: #9f9f9f;
}
.timeline aside .pic{
	padding:5px 0;
}



.nodata{position:fixed;top:40%;left:45%;font-size:1.4rem;}


.aui-navbar {
  bottom: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-top: 0;
  border-bottom: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 46px;
  border-bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    background-color:#363636;
}

.navbar-block .navbar-icon{display:block;}
.navbar-block .aui-tab-label{font-size:1.2rem;}
.aui-navbar .navbar-item .aui-icon {
    position: relative;
    z-index: 20;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 24px
}

.aui-navbar .navbar-item .navbar-icon~.navbar-label {
    display: block;
    overflow: hidden;
    font-size: 11px;
    text-overflow: ellipsis
}

.aui-navbar .navbar-item {
    display: table-cell;
    width: 1%;
    height: 50px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle
}

.aui-navbar .navbar-item input {
    display: none
}

.aui-navbar .navbar-item input:checked+label {
    height: 100%;
    background-color: #08925F;
    -webkit-box-shadow: 0 0 1px #08925F;
    box-shadow: 0 0 1px #08925F;
    z-index: 20;
    display: block;
    height: 50px;
    cursor: pointer
}

.aui-navbar .navbar-item input+label {
    height: 100%;
    background-color: #57C3AB;
    -webkit-box-shadow: 0 0 1px #57C3AB;
    box-shadow: 0 0 1px #57C3AB
}

input.ainp{border-radius:3px;height:18px;line-height:18px;margin:0 5px;outline:none;font-size:1.4rem;border:1px solid #d7d7d7;padding:3px 4px;}
.borline{border-top:solid 1px #d7d7d7;padding-top:15px;}

.bargain .ainp{display:inline-block;}
.btn-mid{width:100%;height:40px;font-weight:600;line-height:40px;font-size:18px;color:#fff;text-align:center;background-color:#00cec0;border:none;}
.grid-16-4{min-width:320px;max-width:640px;margin:0 auto;}
.tags-set{overflow:hidden;padding:15px 0;margin-left:-10px;}
.tags-set .tags{
	float: left;
	margin-left: 10px;
	height: 32px;
	line-height:32px;
	cursor: pointer;
	margin-bottom: 15px;
	border:solid 1px #26cac0;
	background-color:#fff;
	width:30%;
	box-sizing: border-box;
	text-align:center;
	color:#26cac0;
	font-size:14px;
}
.tags-set .tags.selected{background-color:#26cac0;color:#fff;}
.stags{padding:60px 10px 0 10px;}
.stags .hd{color:#d7d7d7;font-size:14px;}

.tarea{padding:5px 4px;border:solid 1px #d7d7d7;min-height:80px;width:100%;outline:none;resize:none;box-sizing:border-box;color:#999;}