<ion-content>
<div class="mui-content bargain">

	<div class="grid-16-4">
		<div class="tips tindent">设置一个最低的价格，我们会根据买卖动态调整出价格，保证利益最大化(二选一)。</div>
    	<div class="sets">
    		<section>每次<input type="text" class="ainp w60"/>元</section>
			<section>每<input type="text" class="ainp w60"/>次<input type="text" class="ainp w60"/>元</section>
    	</div>
    	<div class="tips aui-center borline mt30">不知道如何定价？<br/>看看附近与你房源条件类似得出租价格。</div>
    	<div class="submit-box mt20">
    		<button class="btn-mid" ng-click="goto('setTags')">下一步</button>
    	</div>
	</div>
</div>
<div id="map-wrapper">
		<div id="allmap">
		</div>
</div>
</ion-content>