<ion-content>
<div class="mui-content photos">

	<div class="grid-16-4">
		<p class="pimg"><img ng-src="images/i/zjlXTG239.jpg" alt=""></p>
		<div class="tips tindent">添加一张或者两张照片！<br/>房客喜欢看到您特色的照片</div>
		<div class="bd">
			<div class="photo-list">
				<div class="pitem J_add">
					<span class="icon-add">+</span>
				</div>
				<div class="pitem">
					<img ng-src="images/temp/GOo5rHO023.jpg" width="90px" height="90px" alt="">
				</div>
				<div class="pitem">
					<img ng-src="images/temp/GOo5rHO023.jpg" width="90px" height="90px" alt="">
				</div>
				<div class="pitem">
					<img ng-src="images/temp/GOo5rHO023.jpg" width="90px" height="90px" alt="">
				</div>
			</div>
		</div>
		<div class="submit-box mt20 mb20">
            	<button class="btn-mid" ng-click="goto('serviceDetail')">上传图片</button>
           	</div>
	</div>
</div>
</ion-content>