<!DOCTYPE HTML>
<html id="html">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
	<title>设置标签</title>
	<link rel="stylesheet" href="style/css/fonts.css" type="text/css" />
    <link rel="stylesheet" href="style/css/global.css">
    <link rel="stylesheet" href="style/css/base.css">
    <link rel="stylesheet" href="style/css/app.css">
    <link rel="stylesheet" href="style/css/service.css">
</head>
<body>
	
    <div id="container">
        <div class="wrapper">

            <div class="property-box">
            	<div class="grid-16-4">
            	
            	<div class="stags proset">

					<div class="bd">

						<div class="tag-item">
							<div class="thd">
								美甲类型
							</div>
							<div class="tbd">
								<div class="tags-set">
									<div class="tags">
										上门快
									</div>
									<div class="tags">
										色彩绚丽
									</div>
									<div class="tags">
										手法专业
									</div>
								</div>
							</div>
						</div>

						<div class="tag-item">
							<div class="thd">
								颜色
							</div>
							<div class="tbd">
								<div class="tags-set">
									<div class="tags selected">红色</div>
									<div class="tags">绿色</div>
									<div class="tags">黄色</div>
									<div class="tags">银色</div>
									<div class="tags">紫色</div>
								</div>
							</div>
						</div>

					</div>
		
            	</div>

            	<div class="submit-box mt30 mb20">
			            	<button class="btn-mid">确认选择</button>
			           	</div>
            	</div>
            	
            </div>
            
        </div>
    </div>


    <script type="text/javascript" src="vendors/jquery/jquery.js"></script>
	<script>
	$(function(){ 
		$('.tags-set').on('click','.tags',function(){ 
			$(this).hasClass('selected') ? $(this).removeClass('selected') : $(this).addClass('selected');
		})
	})
	</script>

</body>
</html>
