
<div class="mod-category aui-relat">
    <div class="hd">
        <ul class="cat-box">
            <li ng-class="$index==0 ? 'curr' : '' " ng-repeat="clist in catalogList"><a href="javascript:;" ng-click="fetchCatelog('{{clist.catalogId}}',$event)" data-id="{{clist.catalogId}}"><div class="cat-item"><span>{{clist.description}}</span></div></a></li>
        </ul>
    </div>
    <ion-content>
    <div class="bd">
        <div id="J_SubSort">
			<ul class="list">
                <li ng-repeat="nodes in catalogNodes"><a ng-href="{{nodes.url}}" class="slink"><i class="icon-angle-right"></i>{{nodes.catalogNodeName}}</a></li>
			</ul>
        </div>
    </div>
	</ion-content>
</div>


