
<ion-content>
<div class="mui-content serinfo">
	<div class="inner">
		<div class="ui-forms">
    		<section>
				<div class="filed">
		              <label for="phone">服务名称</label><input maxlength="16" id="serName" class="ui-input"placeholder="请输入服务名称">
		        </div>
    		</section>
    		<section>
				<div class="filed">
		              <label for="phone">服务描述</label><input maxlength="16" id="serName" class="ui-input"placeholder="请输入描述信息">
		        </div>
    		</section>
    		<section>
				<div class="filed">
					<a href="javascript:;" ng-click="openModal()" class="selparams">选择类型，颜色，图案<i class="fn-fr icon-angle-right"></i></a>
		        </div>
    		</section>
    		<section>
				<div class="filed">
		              <label for="phone">服务范围</label>
              		  <select class="ui-sel">
              			  <option>四川省</option>
	              	  </select>
	              	  <select class="ui-sel">
	              		<option>成都市</option>
	             	  </select>
	             	  <select class="ui-sel">
	              		<option>武侯区</option>
	             	  </select>
		          </div>
    		</section>
    		<br/>
    		<div class="subpad">
			<section>
				<div class="filed">
					服务时间
		        </div>
    		</section>
    		<div class="ui-table datelist">
    			<table>
    				<tr>
        				<td width="20px"><input type="checkbox"/></td>
        				<td width="40px"><label for="" class="title">周一</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
        			<tr>
        				<td><input type="checkbox"/></td>
        				<td><label for="" class="title">周二</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
        			<tr>
        				<td><input type="checkbox"/></td>
        				<td><label for="" class="title">周三</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
        					            			<tr>
        				<td><input type="checkbox"/></td>
        				<td><label for="" class="title">周四</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
					<tr>
        				<td><input type="checkbox"/></td>
        				<td><label for="" class="title">周五</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
        			<tr>
        				<td><input type="checkbox"/></td>
        				<td><label for="" class="title">周六</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
        			<tr>
        				<td><input type="checkbox"/></td>
        				<td><label for="" class="title">周日</label></td>
        				<td><input type="text" class="minp"/></td>
        				<td><span class="sp">—</span></td>
        				<td><input type="text" class="minp"/></td>
        			</tr>
    			</table>
    			
    		</div>

    		</div>
		</div>
	</div>
	
	<div class="submit-box mt20 mb20">
    	<button class="btn-mid" ng-click="goto('taskContent')">下一步</button>
   	</div>
</div>
</ion-content>

<script id="params-modal.html" type="text/ng-template">		
<ion-modal-view>
	<ion-header-bar class="bar-energized">
		<h1 class="title">参数选择</h1>
		<a class="button" ng-click="closeModal();">关闭</a>
	</ion-header-bar>
	<ion-content>
		Hello!
	</ion-content>
</ion-modal-view>
</script>