
<ion-content>
<div class="mui-content serinfo">
	<div class="inner">
		<div class="ui-forms">
    		<section>
				<div class="filed">
				<label for="phone">服务名称：</label><div class="desc">1</div>
		        </div>
    		</section>
    		<section>
				<div class="filed">
		              <label for="phone">服务描述</label><div class="desc">2</div>
		        </div>
    		</section>
    		<section>
				<div class="filed">
					<label for="phone">类型</label><div class="desc">3</div>
		        </div>
    		</section>
    		<section>
				<div class="filed">
		              <label for="phone">服务范围</label><div class="desc">4</div>
              		  
		          </div>
    		</section>
    		<br/>
    		<div class="subpad">
			<section>
				<div class="filed">
					服务时间
		        </div>
    		</section>
    		<div class="ui-table datelist">
    			
    		</div>

    		</div>
		</div>
	</div>
	
	<div class="submit-box mt20 mb20">
    	<button class="btn-mid" ng-click="submit()">上&nbsp;&nbsp;架</button>
   	</div>
</div>
</ion-content>