<ion-content>
<div class="mui-content">
	<div class="grid-16-4">
		
	
	<div class="stags seting">
		<div class="hd">
			<h3>请设置评价标签：</h3>
			<p>为了让更多顾客选择您的服务，您可以设置一些标签，供顾客使用。</p>
		</div>
		<div class="bd">
			<div class="tags-set">
				<div class="tags selected">
					上门快
				</div>
				<div class="tags selected">
					色彩绚丽
				</div>
				<div class="tags">
					手法专业
				</div>
				<div class="tags">
					手法专业
				</div>
				<div class="tags">
					手法专业
				</div>
				<div class="tags">
					手法专业
				</div>
			</div>
		</div>
		<div class="ft">
			<h3>自定义标签</h3>
			<div class="filed mt5">
				<textarea name="" id="" class="tarea" placeholder="输入文字，以空格隔开"></textarea>
			</div>
		</div>
		<div class="submit-box mt20 mb20">
    		<button class="btn-mid" ng-click="goto('photos')">设&nbsp;&nbsp;置</button>
   		</div>
	</div>
	</div>
	
</div>
</ion-content>