
	
<ion-content>
<div class="mui-content serinfo">
<div class="service-setep">
	<div class="grid-16-4">
		<div class="tblist">

		<table style="width:100%">
			<thead>
				<tr>
					<td width="40px"></td>
					<td width="40px" class="tc">序号</td>
					<td width="60%"><div class="ml30">任务内容</div></td>
					<td class="tc">操作角色</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<label class="item  item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">1</td>
					<td><div class="ml30"><span class="cont">资源检查</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray selected" data-role="1">买家</button>
							<button class="btn-gray" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">2</td>
					<td><div class="ml30"><span class="cont">卖家出发</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray" data-role="1">买家</button>
							<button class="btn-gray selected" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item  item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">3</td>
					<td><div class="ml30"><span class="cont">资源检查</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray selected" data-role="1">买家</button>
							<button class="btn-gray" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">4</td>
					<td><div class="ml30"><span class="cont">卖家出发</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray" data-role="1">买家</button>
							<button class="btn-gray selected" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item  item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">5</td>
					<td><div class="ml30"><span class="cont">资源检查</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray selected" data-role="1">买家</button>
							<button class="btn-gray" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">6</td>
					<td><div class="ml30"><span class="cont">卖家出发</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray" data-role="1">买家</button>
							<button class="btn-gray selected" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item  item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">7</td>
					<td><div class="ml30"><span class="cont">资源检查</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray selected" data-role="1">买家</button>
							<button class="btn-gray" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<label class="item  item-borderless">
							<label class="checkbox">
								<input type="checkbox" checked>
							</label>
						</label>
					</td>
					<td class="tc">8</td>
					<td><div class="ml30"><span class="cont">卖家出发</span></div></td>
					<td class="tc">
						<div class="opts">
							<button class="btn-gray" data-role="1">买家</button>
							<button class="btn-gray selected" data-role="2">卖家</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
    	<div class="submit-box mt10 mb20">
        	<button class="btn-mid" ng-click="nextStep('mapBargain')">下一步</button>
       	</div>
	</div>
</div>

</div>
</ion-content>