<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>playName</key>
            <string>我喜欢的☆</string>
            <key>filterType</key>
            <string>contentFavorite</string>
            <key>quotations</key>
            <array>
            </array>
        </dict>
            <dict>
                <key>playName</key>
                <string>按标签筛选</string>
                <key>filterType</key>
                <string>tagName</string>
                <key>quotations</key>
                <array>
                    <dict>
                        <key>tagName</key>
                        <string>教育</string>
                    </dict>
                    <dict>
                        <key>tagName</key>
                        <string>娱乐</string>
                    </dict>
                    <dict>
                        <key>tagName</key>
                        <string>音乐</string>
                    </dict>
                    <dict>
                        <key>tagName</key>
                        <string>旅游</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>playName</key>
                <string>按来源筛选</string>
                <key>filterType</key>
                <string>contentOrigin</string>
                <key>quotations</key>
                <array>
                    <dict>
                        <key>tagName</key>
                        <string>微信</string>
                    </dict>
                    <dict>
                        <key>tagName</key>
                        <string>酷狗音乐</string>
                    </dict>
                    <dict>
                        <key>tagName</key>
                        <string>优酷</string>
                    </dict>
                    <dict>
                        <key>tagName</key>
                        <string>浏览器</string>
                    </dict>
                </array>
            </dict>
    </array>
</plist>
